body {
    background: #e3deeb;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.main .productSide {
    background-color: rgba(160, 128, 170, 0.815);
    width: 50vw;
    padding: 20px;
    border-radius: 5px;
}


.main .productSide .products {
    height: 100%;
}


.chatSide .casing {

    background-color: rgba(160, 128, 170, 0.815);
    padding: 10px;
    border: 1px solid rgba(160, 128, 170, 0.815);
    border-radius: 5px;
}

.chatSide .window {
 
    border-radius: 10px;
    background: #fff;
    width: 100%;
    height: 452px;
    box-sizing: border-box;
    position: relative;
}

.chatSide .window .header {
    background:  rgba(160, 128, 170, 0.815);
    padding: 10px;
    margin: 0px;
    text-align: center;
    height: 10%;
   
}


.chatSide .window .chats {
    width: 100%;
    height: 79%;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
}

.chat {
    background: #ad93b9;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-weight: lighter;
    font-size: small;
    box-shadow: 1px 1px 2px rgba(78, 37, 112, 0.3);
    margin: 5px;
    position: relative;
}

.chat.u1 {
    float: left;
    clear: both;
   
}

.chat .date {
    color: #333;
    font-size: 9px;
}

.chat.u1:before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    left: -10px;
}

.chat.u2 {
    float: right;
    clear: both;

    background: #00D025;
}

.chat.u2:before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    right: -10px;
}

.userSay {
    color: #000;
}

.chatSide .window .new-chat {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background: #ededed;
    height: 40px; 
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chatSide .window .new-chat input {
 
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 100;
    background: #ddd;

}

.fail{
    background: rgba(233, 102, 50, 0.836);
    color: white;
    width: 100%;
    height: 20rem
}
.bienvenido{
    background: rgba(147, 245, 163, 0.973);
    color: rgb(4, 97, 9);
    width: 100%;
    height: 10rem
}