<h1 class="d-flex justify-content-center">Tu carrito {{user.name}}</h1>

<div class="container mt-3">
  <main role="main">
    <div class="row">
      <div class="col">
        <div class="table-responsive-sm">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody id="table">

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">

  </main>
</div>

<script src="/js/cart.js"></script>