<div class="main">
  <div class=" col-5">
    <h2>bienvenido {{req.session.user}}</h2>
 
    <button id="btnSubmit" class="btn btn-info">Cerrar sesion</button>
      
  
        
  </div>
    

       
</div> 

<script src="./scripts/current.js"></script>