<div class="main">
  <div class=" col-5">
    <div class="">
      <h2 class="formTitle d-flex justify-content-center">ingresar</h2>
      <form id="from-container" action="/api/sessions/login" method="POST">
        <label for="exampleInputEmail1">Correo Electrónico</label>
        <input type="text" class="form-control"  name="email"required><br>
        <label for="exampleInputEmail1">Contraseña:</label>
        <input type="password" class="form-control" name="password"required><br>   
        <button class="btn btn-info"  id="ingresar">Ingresar</button>
        <button class="btn btn-info" id="registre">Ir a registrarse</button> 
         
        
      </form>

      
      
   
      
            
    </div>    
        
  </div>
    

       
</div>



<script src="./scripts/login.js"></script>
