<div class="row">
          <!-- productos -->
          <h2 class="col_12">PRODUCTOS</h2>
        </div>
        <section class="store">
          <div class="container">
            <div class="items">
              <div class="row">
                

              </div>
            </div>
          </div>
        </section>

        <!-- section cart -->
        <section class="shopping-cart">
          <div class="container">
            <h1 class="text-center">Carrito</h1>
            <hr>
            <div class="row">
              <div class="col-6">
                <div class="shopping-cart-header">
                  <h6>producto</h6>
                </div>
              </div>
              <div class="col-2">
                <div class="shopping-cart-header">
                  <h6 class="text-truncate">precio</h6>
                </div>
              </div>
              <div class="col-4">
                <div class="shopping-cart-header">
                  <h6>cantidad</h6>
                </div>
              </div>
            </div>
            <!-- start shopping cart items -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
              
            </div>

            

            <!-- start Total -->
            <div class="row">
              <div class="col-12 d-flex justify-content-between aling-items-between">
                <div class="shopping-cart-total d-flex aling-items-center">
                  <p class="mb-2 p-2">total</p>
                  <p class="ml-4 p-2 shoppingCartTotal"> $0</p>
                </div>
                <button class="btn btn-success ml-auto comprarButton">comprar</button>
              </div>
            </div>
          </div>
        </section>
        
        <div class="container-modal ">
          
          <div class="content-modal">
            <h2>ingrese emails</h2>
            <input type="email" id="email-element" class="form-control" placeholder="email">
            
            <button type="submit" id="submit" class="btn btn-primary">enviar</button>
          </div>
          <button class="btn-modal btn-danger">x</button>
          
        </div>
        
        



 <script src="./scripts/store.js"></script>
 <script src="./scripts/main.js"></script>
